@import url('https://fonts.googleapis.com/css?? family=Poppins: wght@300;400;500; 600;700; 800;900& display=swap');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    padding-top: 120px;
    background : #081b29;
    color: #ededed;
	
	
}

.header{
    background-color: #0077b6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}   

.home { 
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
	 padding-bottom: 170px;
	 
	 
}

.home-content{
   
    max-width: 600px;
	 animation: fadeIn 1s ease-in-out forwards;
}

.home-content h1{
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 20px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    margin: 20px 0 40px;
    font-size: 14px; 
  
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 315px;
    height: 30px;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 150px;
    height: 100%;
    align-items: center;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
   
}


.profile-picture {
    width: 20%;
    height: auto;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards; 
}

@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}

.footer {
    background-color: #0077b6;
    padding: 20px 0;
    text-align: center;
}

.social-icons a {
    color: #ffffff;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ffffff;
}

.home-content h4{
    font-size: 30px;
    font-weight: 700;
    color: #00abf0;
	 margin-top: 150px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

.close {
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  
}

input,
textarea,
button {
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  
}

button {
  background-color: #00abf0;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #0077b6; 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
}
#openBtn {
  background-color: transparent;
  color: white;
  padding: 8px 15px;
  border: 2px solid #00abf0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  width: 150px; 
}

#openBtn:hover {
	background-color: #00abf0;
    color: white; 
}
.modal-content h2 {
    color: #00abf0;
}

#openBtn:active {
    border-color: initial;
}
